@import "~antd/dist/antd.css";
@import "~bootstrap/scss/bootstrap";

// Colors
$dark-dark-purple: #3b3c60;
$dark-purple: #4b4c7b;
$dark-blue-nav: #4d51f1;

$background-app-color: lightgray;
$background-container-color: white;
$background-navbar-color: #4d51f1;

$primary-button-color: #ffc107;
$primary-button-color-pressed: #e0a800;

// Sizes

$screen-small: 375px;
$screen-large: 1200px;

// Global

html,
body,
#root {
  background-color: $background-app-color;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

html .container {
  max-width: 800px;
  height: 93%;
  background-color: $background-container-color;
}

// Precise Code Parts

// Home Page

.menu-header-div {
  @media screen and (max-width: $screen-small) {
    .menu-title-div {
      padding: 20px 0px 50px 0px;
    }
    .username {
      margin: 0 auto;
      text-align: right;
      padding-bottom: 10px;
    }
  }
  @media screen and (min-width: $screen-large) {
    .menu-title-div {
      padding: 50px;
    }
  }
}

.menu-buttons-div {
  button {
    margin: 15px;
    width: 300px;
  }
  @media screen and (max-width: $screen-small) {
    button {
      width: 250px;
    }
  }
}

.menu-logged-out {
  padding-top: 100px;
  .menu-logged-out-buttons {
    div {
      margin: 25px;
    }
  }
}

// Authentication

.contain-authentication-form {
  display: flex;
  justify-content: center;
}

.authentication-form {
  margin-top: 10%;
  padding: 30px;
  border-radius: 20px;
  width: 340px;
  background-color: $background-container-color;
}

// Navbar

nav {
  max-width: 800px;
  margin: auto;

  .dropdown {
    margin-right: 45px;
    .dropdown-toggle {
      padding: 0;
    }
  }
}

.navbar-custom {
  // background-color: $background-navbar-color;
  // a,
  // .dropdown-toggle {
  // color: white;
  // &:hover {
  // color: yellow;
  // font-weight: bold;
  // text-decoration: none;
  // }
  // :visited {
  // text-decoration: none;
  // color: white;
  // }
  // }

  .navbar-brand a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 6px;
    &:hover {
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  .dropdown-item {
    color: black;
    &:hover {
      color: white;
    }
  }
}

//  Create Game

// .form-control {
// max-width: 800px;
// }
//

.create-game {
  width: 100%;
  button {
    width: 100px;
  }
}

.categories-container {
  max-width: 50%;
  min-width: 350px;
  margin: 0;
}

.max-players {
  max-width: 250px;
}
